/* global */
a {
    text-decoration: none;
}
body {
    background-image: linear-gradient(to top, #FFFFFF 0%,  #d8f3dc 100%);
    background-repeat: no-repeat;
}
th, td {
    background-color: #b7e4c7 !important;
}

/* classes */
.narrow-th {
    width: 1%;
    white-space: nowrap
}
.avatar {
    width: 300px;
    height: 300px;
}
.red-text {
    color: red;
}
.page-size {
    padding: 1%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* ========== Overwriting Bootstrap default values ========== */
.navbar {
    background-color: #b7e4c7 !important;
    border-radius: 25px;
}
.navbar-nav .active {
    background-color: #74c69d;
    border-radius: 25px;
}
.nav-item {
    border-radius: 25px;
}
.card-body {
    background-color: #b7e4c7;
}
.list-group-item {
    background-color: #b7e4c7 !important;
}
.card-footer {
    background-color: #d8f3dc;
}
