/* global */
a {
    text-decoration: none;
}

/* classes */
.narrow-th {
    width: 1%;
    white-space: nowrap
}
.avatar {
    width: 300px;
    height: 300px;
}
.error-text {
    color: red;
}
.page-size {
    padding: 1%;
    overflow-y: auto;
    overflow-x: hidden;
}